<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dash.css">
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md align-items-center">
                    <p class="mb-0 phone"><span class="mailus">Phone no:</span> <a href="#">+234 817 0000 000</a> or <span class="mailus">email us:</span> <a href="#">readytoeat@gmail.com</a></p>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <p class="mb-0">Mon - Fri / 9:00-21:00, Sat - Sun / 10:00-20:00</p>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/home">READY-<span>to-EAT</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link">About</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Chef</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Menu</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Reservation</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Orders</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <section class="hero-wrap">
		<div class="home-slider owl-carousel js-fullheight">
			<div class="slider-item js-fullheight">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate">
							<div class="text w-100 mt-5 text-center">
								<span class="subheading">READY-to-EAT</h2></span>
								<h1>Best Quality</h1>
								<span class="subheading-2">FOOD</span>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

</body>
</html>