<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="banner_slider">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">READY-to-EAT</h1>
                                    <p class="banner_text">Are you starving? Let's help you satisfy you cravings</p>
                                    <div class="reg_bt">
                                        <a href="/login"><span class="user_icon">👤</span>Login</a>
                                        <a href="/signup"><span class="user_icon">👤</span>SignUp</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
